<div class="about">
<section class="columns twelve">
<h1>About</h1>
<p>Listen up rudebois everytin gunna be irie whayaso lickylicky an bukle up its gona b a madone.</p>
<p>Welcome to Ruthless Muzic. An exclusive members only music sharing site for you and your mandem to find and repost your favourite tracks. Tracks are ranked on the love the members give them, coupled with a leaderboard of the rudest users. We would like to say a big welcome and enjoy. Happy finding.</p>
<p>Founded and created by our own RuthlessAmmo - Big Ups</p>
<p>Github: <a>https://github.com/ruthlessammo/wdi-project-4-frontend</a></p>
</section>
</div>
