<section class="row">
  <form ng-submit="tracksNew.create()">
    <div class="twelve columns">
      <label>Title</label>
      <input type="text" name="title" placeholder="Title" ng-model="tracksNew.track.title" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Artist</label>
      <input type="text" name="artist" placeholder="Artist" ng-model="tracksNew.track.artist" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>URl</label>
      <input type="text" name="URL" placeholder="URL" ng-model="tracksNew.track.url" class="u-full-width">
    </div>
    <!-- <div class="twelve columns">
      <label>Poster Image</label>
      <input type="text" name="posterImage" placeholder="Poster Image" ng-model="tracksNew.track.posterImage" class="u-full-width">
    </div> -->

    <button>Post</button>
  </form>
</section>
