<section class="tracksShow-class row">
  <div class="trackShow u-full-width">
  <h2>{{ tracksShow.track.title }}</h2>
  <h4>{{ tracksShow.track.artist }}</h4>
  <p>Posted by: {{tracksShow.track.user.username }}</p>
  <div class="iframe">
  <soundcloud id="{{ tracksShow.track.soundcloud_id }}" width="100%" height="100%" style="position:relative" ng-if="tracksShow.track.soundcloud_id"></soundcloud>
</div>
  <form ng-submit="tracksShow.addLike()" method="post">
    <input type="hidden" name="_method" value="put"/>
    <label for="likes"></label>
    <input type="hidden" name="likes" ng-model="tracksShow.track.likes">
    <button>&#9829;</button>
  </form>
  <button ui-sref="tracksIndex" style="background-color:#ff5200; color:white">Back</button>
  <h4><strong>Likes: </strong>{{ tracksShow.track.likes.length }}</h4>

  <div class="">
    <strong>Comments</strong>
    <ul>
      <li ng-repeat="comment in tracksShow.track.comments">
        <strong>{{ comment.user.username }} </strong>
        {{comment.body}}
      </li>
    </ul>
  </div>
  <form ng-submit="tracksShow.createComment()" method="post">
    <input type="text" name="body" placeholder="Comment here!" ng-model="tracksShow.newComment.body">
    <button>Submit</button>
  </form>

  <div ng-show=>
  <a ui-sref="tracksEdit({ id: tracksShow.track.id })" class="button">Edit</a>
  <button ng-if="tracksShow.isLoggedIn()" ng-click="tracksShow.delete()">Delete</button>
  </div>
</div>
</section>
