<section class="row">
  <form ng-submit="usersEdit.update()">
    <div class="twelve columns">
      <label>Username</label>
      <input type="text" name="username" ng-model="usersEdit.user.username" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Email</label>
      <input type="text" name="email" ng-model="usersEdit.user.email" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Image</label>
      <input type="text" name="image" ng-model="usersEdit.user.image" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Bio</label>
      <input type="text" name="bio" ng-model="usersEdit.user.bio" class="u-full-width">
    </div>

    <button>Update</button>
  </form>
</section>
