<section class="login row">
  <div class="loginform column four">
    <form novalidate ng-submit="login.submit()">
      <div>
        <label>Email</label>
        <input type="email" placeholder="Email" ng-model="login.credentials.email">
      </div>
      <div>
        <label>Password</label>
        <input type="password" placeholder="Password" ng-model="login.credentials.password">
      </div>

      <button>Login</button>
    </form>
    <h5>or</h5>
    <a ui-sref="register">Register</a>  
  </section>
</div>
