<section >
  <div class="row">
    <div class="two column">
      <div class="tracksIndex">
        <div class="middling2"
        <ul>
          <li ng-repeat="track in tracksIndex.all | orderBy: '-likes' " class="indexBorder">
            <h4><a ui-sref="tracksShow({ id: track.id })">{{ track.title }}</a></h4>
            <h5>{{ track.artist }}</h5>
            <div class="iframe">
              <soundcloud id="{{track.soundcloud_id}}" width="100%" height="300px"></soundcloud>
            </div>
            <form ng-submit="tracksIndex.addLike(track)" method="post">
              <input type="hidden" name="_method" value="put"/>
              <label for="likes"></label>
              <input type="hidden" name="likes" ng-model="tracksIndex.track.likes">
              <button class="likeBtn">&#9829;</button>
            </form>
            <h4><strong>Likes:</strong> {{ track.likes.length }}</h4>
          </li>
          <br>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>
