<section >
    <!-- <div class="two column">
      <div class="tracksIndex">
        <div class="middling2"> -->
        <ul class="tracks-index">
          <li ng-repeat="track in tracksIndex.all | orderBy: '-likes' " class="row">
            <div class="eight columns">
              <div class="iframe">
                <soundcloud id="{{track.soundcloud_id}}" width="100%" height="300px"></soundcloud>
              </div>
            </div>
            <div class="four columns info">
              <h2><a ui-sref="tracksShow({ id: track.id })">{{ track.title }}</a></h2>
              <h3>{{ track.artist }}</h3>
              <h3>Likes: {{ track.likes.length }}</h3>
              <form ng-submit="tracksIndex.addLike($event, track)" method="post">
                <!-- <input type="hidden" name="_method" value="put"/> -->
                <input type="hidden" name="likes" ng-model="tracksIndex.track.likes">
                <button class="like">&#9829;</button>
              </form>
            </div>
          </li>
        </ul>
      <!-- </div>
    </div>
  </div> -->
</section>
