<section class="row">
  <form ng-submit="tracksNew.create()">
    <div class="twelve columns">
      <label>Title</label>
      <input type="text" name="title" placeholder="Title" ng-model="tracksNew.track.title" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Artist</label>
      <input type="text" name="artist" placeholder="Artist" ng-model="tracksNew.track.artist" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Embed Code</label>
      <input type="text" name="embed_code" placeholder="embedcode" ng-model="tracksNew.track.embed-code" class="u-full-width">
    </div>
    <button>Post</button>
  </form>
</section>
