<!DOCTYPE html>
<html ng-app="finalProject">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Final Project</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/vendor.js" charset="utf-8"></script>
  <script src="js/app.js" charset="utf-8"></script>
  <script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>


</head>
<body ng-controller="MainController as main" ng-class="main.controllerName+'-class'">
  <nav class='nav'>
      <ul>
        <li class="logo" ui-sref="login">RUTHLESS MUZIC</li>
        <li ui-sref="about">About</li>
        <li ng-if="main.isLoggedIn()" ui-sref="usersIndex">Users</li>
        <li ng-if="main.isLoggedIn()" ui-sref="tracksIndex">Tracks</li>
        <span class="navRight">
          <li ng-if="!main.isLoggedIn()" ui-sref="login">Login</li>
          <li ng-if="!main.isLoggedIn()" ui-sref="register">Register</li>
          <li ng-if="main.isLoggedIn()" ui-sref="login" ng-click="main.logout()">Logout</li>
        </span>
      </ul>
  </nav>
  <main class="main container" ui-view></main>
</body>
</html>
