.main {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url('../assets/images/turntable3.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  width: 100%;
  h1, h2, h5, h6, ul, li {
    color: white;
  }
}
.padder {
  margin: 0 auto;
  max-width: 33%;
  margin-left: 37%;
}

.nav {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  overflow-x: hidden;
  overflow-y: visible;
  width: 100%;
  z-index: 99999;
  border-bottom: 1px solid white;
  ul li {
    display: inline-block;
    text-align: center;
    // margin: 7px;
  }
}

.wrapper {
  width: 30%;
  margin: 0 auto;
  position: relative;
}

.spacingNav {
  margin: 0 3px;
  font-size: 18px;
  color: white;
}

.middling {
  width: 40%;
  margin: 0 auto;
}

.userContainer {
  border-bottom: 1px solid white;
  // border-radius: 5px;
  position: relative;
  list-style-type: none;
  padding-top: 60px;
  h2 li h4 img {
    margin: 0 auto;
    position: relative;

  }
}

.profilePic {
  border-radius: 25px;
}

.tracksShow {
  color: white;
}

.tracksIndex {
  list-style-type: none;
  width: 25%;
  margin-left: 25%;
  padding-top: 60px;
  // margin-bottom: 50px;
  color: white;
  h4, h5, button  {
    color: white;
    text-align: center;
  }
}

.indexBorder {
  border-bottom: 1px solid white;
  width: 50%;
}

.middling2 {
  width: 400%
}

.login {
  height: 100vh;
  position: relative;
}
.loginform {
  position: relative;
  padding-left: 43%;
  padding-top: 150px;
    form h5 a {
      text-align: center;
    }
}

iframe {
  border: 4px solid black;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  // -o-border-radius: 20px;
  position: relative;
  overflow: hidden;
  // width: 400px;
  // height: 300px;
  z-index: 99999;
}
.iframe iframe {
  // width: 100%;
  // height: 100%;
}

.homepage {
  height: 100vh;
}
.splash {
  padding-top: 27%;
  margin-left: 35%;
  z-index: 99999;
  a {
    position: relative;
    margin-left: 19%;
  }
}

.register {
  height: 100vh;
  form {
    padding-top: 17%;
    margin-left: 44%;
  }
}
