.main {
  background-image: url('../images/record.jpg');
  background-color: rgba(0,0,0,1);
  h1, h2, h5, h6, ul, li {
    color: white;
  }
}
.padder {
  margin: 0 auto;
  max-width: 33%;
  margin-left: 33%;
}

.nav {
  background-color: rgba(0,0,0,1);
  position: fixed;
  overflow-x: hidden;
  overflow-y: visible;
  width: 100%;
  z-index: 99999;
  border-bottom: solid 1px white;
  ul li {
    display: inline-block;
    text-align: center;
    // margin: 7px;
  }
}

.wrapper {
  width: 30%;
  margin: 0 auto;
  position: relative;
}

.spacingNav {
  margin: 0 5px;
  font-size: 19px;
  color: white;
}

.middling {
width: 33%;
margin: 0 auto;
}

.userContainer {
  border-bottom: 1px solid white;
  // border-radius: 5px;
  position: relative;
  list-style-type: none;
    h2 li h4 img {
      margin: 0 auto;
      position: relative;

    }
}

.profilePic {
  border-radius: 25px;
}

// .likeBtn {
//   border-style: none;
//   // width: 35px;
//   // height: 35px;
// }

// .parallax {
//     background-image: url('../images/record.jpg');
//
//     height: 100%;
//
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
